.ContianerProfile {
  background-color: aqua;
  width: 100%;
  height: 100vh;
  padding: 60px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(../../assets/imgs/backgroundDashboard.png);
  background-size: cover;
}

.ant-slider {
  width: 80%;
}

.ContianerProfile .profileInfo {
  width: 40%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 0px 30px;

  border-radius: 10px;
  background-color: rgba(73, 72, 72, 0.301);
  backdrop-filter: blur(6px);
  box-shadow: 0px 4px 16px 7px rgba(0, 0, 0, 0.25);
}

.ContianerProfile .profileInfo .profileImg {
  width: 100%;
  height: 80%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContianerProfile .profileInfo .profileImg img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.ContianerProfile .profileInfo .profileImg label {
  width: 100%;
  font-family: Poppins-Bold;
  color: white;
}

.ContianerProfile .profileInfo .profileImg p {
  width: 80%;
  text-align: center;
  font-family: Poppins-Regular;
  color: white;
}

.ContianerProfile .profileInfo form {
  width: 100%;
  height: 80%;
  gap: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContianerProfile .profileInfo form label {
  width: 80%;
  font-family: Poppins-Regular;
  color: white;
}

.ContianerProfile .profileInfo form input {
  outline-style: none;
  border-style: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.ContianerProfile .profileInfo form button,
.ContianerProfile .profileBuckets form button {
  outline-style: none;
  border-style: none;
  background-color: rgb(64, 203, 22);
  padding: 10px;
  border-radius: 10px;
  font-family: Poppins-Regular;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 200ms;
}

.ContianerProfile .profileInfo form button:hover,
.ContianerProfile .profileBuckets form button:hover {
  background-color: rgb(184, 255, 149);
  border: 1px solid rgb(82, 231, 8);
  color: rgb(58, 224, 8);
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
}

.ContianerProfile .profileBuckets {
  width: 40%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  border-radius: 10px;
  background-color: rgba(73, 72, 72, 0.301);
  backdrop-filter: blur(6px);
  box-shadow: 0px 4px 16px 7px rgba(0, 0, 0, 0.25);
}

.deleteBucket {
  position: absolute;
  top: 0;
  right: -5px;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  background-color: red;
  font-family: Poppins-Bold;
  font-size: 12px;
  opacity: 0;
  display: none;
}

.ant-card-grid-hoverable:hover .deleteBucket {
  opacity: 1;
  display: inline;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
}
