.containerNavbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: absolute;
  top: 0px;
  backdrop-filter: blur(6px);

  box-shadow: 0px 4px 16px 7px rgba(0, 0, 0, 0.25);
}

#logo {
  width: 30px;
  height: 30px;
}

.containerOptions {
  width: auto;
  padding: 0px 15px;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.options {
  width: 90px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(204, 204, 204, 0.15);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  color: #00baaf;
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 0.83rem;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.sign {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  background: rgba(255, 254, 254, 0.15);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 0.83rem;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #26bcfd;
}

.sign img {
  width: 20px;
  height: 20px;
}
